@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap');
$maincolor: #368BD9;
$secondary: #F2F9FF;
$accent1: #39cbe535;
$accent1solid: #39CCE5;
$accent2: #304ABF;
$lightGrayish: #E3EFFA;
$white: #F5F5F5;
$darkBlack: #6d6d6d;
#popup-form {
    width: 50%;
    height: 80%;
    float: none;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: $secondary;
    box-shadow: 2px 0px 20px 1px $darkBlack;
    padding: 1rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
    .img-big {
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        width: 20rem;
        height: 20rem;
        background-size: 20rem;
        transform: translate(50%);
        margin: 1rem;
    }
    .agreement {
        margin: .5rem 2rem;
        font-size: .9rem;
    }
    button {
        cursor: pointer;
        background-color: $lightGrayish;
        outline: none;
        display: block;
        margin: 2rem 14rem;
        border: none;
        border-radius: .2rem;
        box-shadow: .5px 0px 15px 0px $darkBlack;
        height: 2rem;
        transition: color .6s;
    }
    button:hover {
        background-color: $maincolor;
        color: $secondary;
    }
}

#blur-back {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.main-container {
    display: flex;
    position: relative;
    background-image: url('/BeniFaction/static/back_donate.svg');
    width: 100vw;
    height: 100vh;
    background-size: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    #image-side {
        width: 30rem;
        height: 25rem;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
    }
    #st {
        background-image: url('/BeniFaction/static/undraw_Profile_data_re_v81r\ 1.svg');
        background-size: 27rem;
        z-index: 1;
    }
    #mnd {
        background-image: url('/BeniFaction/static/undraw_my_documents_ym8x\ 1.svg');
        background-size: 27rem;
        z-index: 0;
    }
    #form-s {
        display: block;
        position: absolute;
        width: 40vw;
        height: 60vh;
        float: right;
        right: 3rem;
        margin: 2rem;
        background-color: #39cbe535;
        #first_page {
            display: block;
            margin: 2rem;
            .label-d {
                margin: 1rem;
                font-size: 1rem;
            }
            input {
                width: 100%;
                height: 1.6rem;
            }
            #up-button {
                outline: none;
                border: none;
            }
            span {
                float: right;
                border: none;
                border-radius: .2rem;
                background-color: $secondary;
                color: $accent1solid;
                font-size: .88rem;
                box-shadow: .5px 0px 6px 0px $darkBlack;
                width: 5rem;
                height: 2rem;
                justify-content: center;
                align-self: center;
                text-align: center;
            }
        }
        #second_page {
            display: none;
            margin: 2rem;
            .label-d {
                margin: 1rem;
                font-size: 1rem;
            }
            input {
                width: 100%;
                height: 1.6rem;
            }
            #up-button {
                outline: none;
                border: none;
            }
        }
        button {
            float: right;
            border: none;
            border-radius: .2rem;
            background-color: $secondary;
            color: $accent1solid;
            box-shadow: .5px 0px 6px 0px $darkBlack;
            width: 5rem;
            height: 2rem;
        }
    }
}