$maincolor: #368BD9;
$secondary: #F2F9FF;
$accent1: #39CCE5;
$accent2: #304ABF;
$lightGrayish: #E3EFFA;
$white: #F5F5F5;
$darkBlack: #6d6d6d;
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    font-family: 'Karla', 'Open Sans';
}

body {
    background-color: $white;
    margin: 0;
}

.nav-name {
    position: relative;
    width: 100vw;
    height: 9vh;
    overflow: hidden;
    transition: transform 1s;
    .logo-img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 7rem;
        height: 3rem;
        margin-left: 4rem;
        margin-top: .6rem;
        float: left;
        position: absolute;
    }
    ul {
        width: 80%;
        flex-shrink: 2rem;
        list-style: none;
        margin: 0;
        float: right;
        padding: 0;
        margin-right: 3rem;
        a {
            text-decoration: none;
            font-weight: bold;
            color: $darkBlack;
            float: right;
            padding: 1.2rem;
            text-align: center;
        }
    }
}

@media screen and (min-width:810px) {
    .nav-icon {
        display: none;
    }
    .nav-item {
        margin: 0;
    }
}

@media screen and (max-width:800px) {
    .nav-name {
        bottom: .5rem;
        position: fixed;
        overflow: visible;
        .mob {
            display: none;
        }
        ul {
            width: 100%;
            height: 100%;
            margin: 0;
            box-shadow: 1px -7px 20px 3px rgba(0, 0, 0, 0.05);
        }
        .mobile {
            margin: .5rem;
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            float: none;
        }
        .icon-mobile {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            float: none;
            width: 2rem;
            border-radius: 2rem;
            background-image: linear-gradient(45deg, $accent1, $accent2);
            transition: background-color 1s ease-in-out;
        }
        .icon-mobile:hover,
        .icon-mobile:focus {
            background-color: $accent2;
        }
        .one {
            left: 35%;
        }
        .two {
            left: 65%;
        }
        .mobileicon {
            position: absolute;
            display: flex;
            z-index: 2;
            top: -85vh;
            left: 10%;
            transform: translate(-50%, -50%);
            float: none;
        }
        .nav-item {
            display: none;
        }
    }
}