<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet" />
    <link href="./main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v22_51">
        <div class="name"></div>
        <div class="v45_0">
            <div class="v44_4">
                <div class="v37_256"></div>
                <div class="v37_257"></div>
                <div class="v37_258"></div>
                <div class="v22_1191">
                    <div class="v22_1192"></div>
                </div>
            </div>
            <div class="v37_252"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="v45_13">
                <div class="name"></div>
                <div class="name"></div>
                <div class="name"></div>
            </div>
        </div>
    </div>
    <div class="v37_253">
        <div class="v22_360"></div>
        <div class="v22_64"></div>
        <div class="name"></div>
        <div class="name"></div>
    </div>
    <div class="v58_648">
        <div class="v45_14"></div>
        <div class="v47_12">
            <div class="v47_13"></div>
            <div class="v47_14"></div>
            <div class="v47_15">
                <div class="v47_16"></div>
            </div>
            <div class="v47_17"></div>
            <div class="v47_18"></div>
            <div class="v47_19"></div>
            <div class="v47_20"></div>
            <div class="v47_21"></div>
            <div class="v47_22"></div>
            <div class="v47_23">
                <div class="v47_24"></div>
            </div>
            <div class="v47_25"></div>
            <div class="v47_26"></div>
            <div class="v47_27"></div>
            <div class="v47_28"></div>
            <div class="v47_29"></div>
            <div class="v47_30"></div>
            <div class="v47_31"></div>
            <div class="v47_32"></div>
            <div class="v47_33"></div>
            <div class="v47_34"></div>
            <div class="v47_35"></div>
            <div class="v47_36"></div>
            <div class="v47_37"></div>
            <div class="v47_38"></div>
            <div class="v47_39"></div>
            <div class="v47_40"></div>
            <div class="v47_41"></div>
            <div class="v47_42"></div>
            <div class="v47_43"></div>
            <div class="v47_44"></div>
            <div class="v47_45"></div>
            <div class="v47_46"></div>
            <div class="v47_47"></div>
            <div class="v47_48"></div>
            <div class="v47_49"></div>
            <div class="v47_50"></div>
            <div class="v47_51"></div>
            <div class="v47_52"></div>
            <div class="v47_53"></div>
            <div class="v47_54"></div>
            <div class="v47_55"></div>
            <div class="v47_56"></div>
            <div class="v47_57"></div>
            <div class="v47_58">
                <div class="v47_59"></div>
            </div>
            <div class="v47_60"></div>
            <div class="v47_61"></div>
            <div class="v47_62"></div>
        </div><span class="v45_10">DONATION
                DRIVES</span><span class="v56_15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu aliquet
                arcu euismod in eu. Sit nam massa eget venenatis auctor eget gravida. Enim pellentesque euismod praesent
                amet risus lacus. Placerat quis sed sed lacus, sed non aliquet. Est, sem tortor sit quam commodo feugiat
                quam massa. Pretium amet in diam egestas. Feugiat orci aliquam tincidunt enim urna ultrices at
                ut.</span>
        <div class="v56_16">
            <div class="v56_17"></div>
            <div class="v56_18"></div>
            <div class="v56_20"></div>
        </div>
        <div class="v58_664">
            <div class="name"></div>
            <div class="name"></div>
        </div>
    </div>
    <div class="name"></div>
    <div class="v45_2"></div>
    </div>
</body>

</html>